*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}

header{
    position: fixed;
    background-color: #333; 
    width: 100%;
    padding: 8px 16px;
}

#level{
    font-weight: lighter;
    font-size: 18px;
}

#goldExib{
    font-weight: lighter;
    font-size: 18px;
    color: gold;
}

#ata,#def,#int,#sor,#vel{
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none
}

#atribs th{
    background-color: #555;
}
#atribs td{
    padding: 2px 2px;
    background-color: #444;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-right: 150px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#nome{
    font-size: 32px;
}

.component{
    position: absolute;
    -webkit-user-select: none;
}